@model StudentCoursesViewModel
@{
    ViewData["Title"] = "ShowResult";
}

<h1>ShowResult</h1>

<h3 style="color:@Model.Color"> @Model.Student_Id -- @Model.Stuednt_Name -- @Model.CourseName --@Model.Degree </h3>



