
@{
    ViewData["Title"] = "GetAll";
}

<h1>GetAll</h1>
<br />
<table class="table">
    <thead>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </thead>
</table>
